* {
  font-family: "IRANSans" !important;
}

:root {
  --hover-color: 1;
}

.notistack-SnackbarContainer.z-alert {
  z-index: 110000;
}

.ck-editor__editable {
  min-height: 400px;
}

.stimulsoft-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  overflow-y: auto;
  height: 100vh;
  background-color: white;
}
